.container{
    display: grid;
    width: 100%;
    height: 40%;
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
    float: left;
}

.body{
    text-align: auto;
    display: inline-table;
    width: 100px;
    height: 100px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 5%;
}
.swatch-body{
    display: grid;
    text-align: justify;
    width: 25%;
    height: 25%;
}

.label{
    text-align: left;
}

.swatches-btn{
    width: 100%;
    height: 2rem;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
  
    /* float: left; */
}
.del-btn{
    margin-left: 5px;
}

.red{
    background-color: #ff0000;
}

.yellow{
    background-color: #ffff00;
}

.green{
    background-color: #00ff00;
}

.blue{
    background-color: #0000ff;
}